<h2>New Appointment for <%= @patient.name %></h2>

<%= form_for @appointment, url: appointments_path, method: :post do |f| %>
  <input type="hidden" name="patient_id" value="<%= @patient.id %>">
  <div class="mb-3">
    <%= f.label :date %>
    <%= f.datetime_select :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= f.submit "Create Appointment", class: "btn btn-primary" %>
  </div>
<% end %>
